*.csproj.user
/build
/source/.vs
/source/packages
/source/net40/Adenium/obj
/source/net40/Adenium.Sample/obj
/source/net40/Adenium.Sample.ModuleA/obj
/source/net40/Adenium.Sample.ModuleB/obj
/source/net40/Adenium.Sample.ModuleC/obj
