*.csproj.user
/build
/source/.vs
/source/packages
/source/net40/Layex/obj
/source/net40/Layex.Sample/obj
/source/net40/Layex.Sample.ModuleA/obj
/source/net40/Layex.Sample.ModuleB/obj
/source/net40/Layex.Sample.ModuleC/obj
